#app {
    font-family: "Pretendard";
    color: #333;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #ebebeb;
  }
  
  /* 왼편 메뉴 / 헤더 */
  #app header {
    min-width: 230px;
    background: #2f397c;
    padding: 50px 0 0 20px;
    color: #fff;
  }
  #app header .logo {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
  #app header .title {
    font-weight: 400;
    padding-bottom: 50px;
  }
  #app header nav ul li + li {
    padding-top: 15px;
  }
  
  /* 오른편 컨텐츠 / 섹션 */
  #app section {
    width: calc(100% - 230px);
    margin: 40px;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  }
  #app section .view_model .top {
    display: flex;
    align-items: center;
  }
  
  /* 모델 정보 */
  #app section .view_model .top .model_info {
    width: 50%;
    height: 65px;
    padding: 10px;
    background: #f7f7f7;
  }
  #app section .view_model .top .model_info ul {
    display: flex;
    align-items: center;
  }
  #app section .view_model .top .model_info ul li {
    position: relative;
    text-align: center;
    width: 20%;
  }
  #app section .view_model .top .model_info ul li + li:before {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background: #e1e1e1;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
  }
  #app section .view_model .top .model_info ul li .info_title {
    font-size: 1.2rem;
    color: #999;
    padding-bottom: 10px;
  }
  #app section .view_model .top .model_info ul li .info_desc {
    font-size: 1.7rem;
  }
  
  /* 검사 구역 설정, 세팅 */
  #app section .view_model .top .model_set {
    width: 50%;
  }
  #app section .view_model .top .model_set ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    text-align: center;
  }
  #app section .view_model .top .model_set ul li + li {
    margin-left: 15px;
  }
  #app section .view_model .top .model_set ul li .set_title {
    background: #2f397c;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
  }
  #app section .view_model .top .model_set ul li .set_desc {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    font-size: 1.3rem;
    color: #999;
    line-height: 1.5;
  }
  
  #app section .view_model .bot {
    margin-top: 20px;
  }
  #app section .view_model .bot h3 {
    font-size: 2.8rem;
    margin-bottom: 15px;
  }
  
  /* 모델 이미지 */
  #app section .view_model .bot .model_img {
    display: flex;
  }
  #app section .view_model .bot .model_img .img_box {
    width: 80%;
    position: relative;
  }
  #app section .view_model .bot .model_img .img_box:before {
    content: "";
    display: block;
    border: 2px solid #ff0000;
    position: absolute;
    left: 1144;
    top: 195;
    width: 71px;
    height: 109px;
  }
  #app section .view_model .bot .model_img .img_box .img_title {
    text-align: center;
    padding-top: 10px;
  }
  #app section .view_model .bot .model_img .set_box {
    width: 20%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
  }
  #app section .view_model .bot .model_img .set_box .set_list {
    padding-top: 15px;
  }
  #app section .view_model .bot .model_img .set_box .set_list li + li {
    margin-top: 12px;
  }
  #app section .view_model .bot .model_img .set_box .btn_view {
    margin-top: 100px;
  }
  
  /* 초기화 */
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.5rem;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  img {
    max-width: 100%;
  }
  span {
    display: block;
  }